.login-title-container {
  color: #fffafa;
  text-shadow: 3px 3px 1px #8d89a6;
  font-family: "Borel", cursive;
}

@media (min-width: 1366px) {
  .login-title-container {
    font-size: 120px;
  }
}

@media (min-width: 700px) {
  .login-title-container {
    font-size: 80px;
  }
}
