.main-container-banner {
  background-color: #ffb4c1;
}

.main-container-content-form input {
  border: 1px gray solid;
  margin: 1vh 0 1vh 0;
}

.main-container-content-form button {
  border: hidden;
  outline: none;
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.5s;
}

.main-container-content-form button.btn-triggered {
  background-color: #ffb4c1;
}
