.main-container {
  background-color: #ffb4c1;
  background-image: url("../../assets/userpages.svg");
  overflow: hidden;
}

.circle1,
.circle2 {
  width: 600px;
  height: 600px;
  border: 4px white solid;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.circle2 {
  z-index: 2;
}

.main-container-content-form {
  width: 40%;
  padding: 5% 5%;
  height: fit-content;
  background-color: #fffafa;
  border-radius: 50px;
}

.username-icon {
  background-color: #ffb4c1;
}

.main-container-content-form input {
  border: 1px #ffb4c1 solid;
  margin: 1vh 0 1vh 0;
}

.main-container-content-form button {
  width: 50%;
  border: hidden;
  outline: none;
  background-color: #2f2f2f;
  background-color: #fffafa;
  border-radius: 40px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.5s;
  background-color: #ffb4c1;
}

.main-container-content-form button.btn-triggered {
  background-color: #fffafa;
}

.create-acc {
  width: 100%; /* border-top: 1px #ffb4c1 solid; */
}

.create-acc > span {
  color: #ffb4c1;
}
