@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

@font-face {
  font-family: "Publio W01 Regular";
  src: local("Publio W01 Regular"),
    url("./assets/fonts/Publio W01 Regular/Publio W01 Regular.ttf")
      format("truetype");
  font-weight: bold;
}
* {
  font-family: 'Abhaya Libre', serif;
}
