.header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    height: 100%;
    max-height: 70px ;
}
.logo-wrapper{

    width: 48px !important;

    
}
.header--weekview{
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weekview--logo{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    h1{

        font-family: 'Abhaya Libre', serif;
        font-weight:1000;
        margin: 0;
    }
}
.weekview-slider{
    display: flex;
    flex-direction: column;

}
.schedule{
    font-weight: 600;
    font-size: 1.1rem;
}
.slider{
    font-size: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.slider > span{
    color: #7D8DA6;
}
.slider__buttons{
}
.slider__buttons> button{
    width: 1.75rem;
    height: 1.75rem;
    text-decoration: none !important; 
    margin: 0 0.2rem;
    fill: rgba(125, 141, 166, 0.10);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    border-radius:4px;

}
.header--user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 22%;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 1rem;
}

