  :root {
    --landscape-width: 25; // % OR vw for responsive window resizing!
    --portrait-width: 80vw;
    --header-height: 4rem;
    --secs: 0.4s;
    --bg-left: springgreen;
    --bg-right: cyan;
    --bg-main: lemonchiffon;
  }
  body, html, #root {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

/* Layout styles */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
}

/* Header styles */
.header {
  background-color: #fff;
  color: #333;
  display: flex;
  height: 60px;
  svg{
    max-width: 32px !important;
  }
}

/* Sidebar styles */
.sidebar {
  flex: 0 0 20%; /* Adjust the width as needed */
  padding:  0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 20px 0px;
  height: calc(100% - 70px);

  &__MonthCalendarLib{

  }
  &__eventShowCase{
    height: calc(100% - 315px);
  }
}
.sidebar > *{
  
}
/* Main content styles */
.main-content {
  flex: 1;
}

