@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

.main-container-content {
  width: 85%;
  height: 65%;
  background-color: #fffafa;
  outline: 15px #4f4d5b solid;
  border-radius: 50px;
  box-shadow: 7px 15px 5px 3px #2f2e34;
  z-index: 1000;
}

.calendar-top {
  height: 25%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: #8d89a6;
}

.pill {
  width: 45px;
  height: 110px;
  background-color: #f2d5f8;
}

.pill1 {
  top: -40px;
  left: 132px;
}

.pill2 {
  top: -40px;
  right: 132px;
}

.circle {
  width: 70px;
  height: 70px;
  background-color: #fffafa;
}

.circle1 {
  top: 10px;
  left: 120px;
}

.circle2 {
  top: 10px;
  right: 120px;
}

.calendar-title {
  width: 50%;
  height: 70%;
  background-color: #646273;
  border: 5px #a5a2bd solid;
}

.calendar-title-content {
  color: #fffafa;
  height: 100%;
  font-size: 80px;
  font-family: "Borel", cursive;
}

.calendar-arrows {
  width: 40px;
  height: 40px;
  background-color: #fffafa;
  cursor: pointer;
}

.calendar-arrows svg {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
