@font-face {
  font-family: "Publio W01 Regular";
  src: local("Publio W01 Regular"),
  url("../\assets\fonts\Publio W01 Regular\Publio W01 Regular.ttf");
  font-weight: bold;
}

:root {
  --main-bg-terra: #eac8ca;
  --main-bg-soft-pink: #f2d5f8;
  --main-bg--dark-pink: #e6c0e9;
  --main-bg--soft-purple: #bfabcb;
  --main-bg-dark-purple: #8d89a6;

  }

*{
    font-family: "Publio W01 Regular";
}

.landing{

  &--navbar{
    margin-top: 0.5rem;
  }
}

.logo{

  &--svg{
    margin-right: 0.5rem;
  }
  &--title{
    
    /* padding: 0 0.5rem 0.5rem 0; */

  }

}