.landing {
    display: flex;
    justify-content: space-between;
}

.landing-logo {
    padding: 0.5rem;
    margin-top: 7px;

    height: 40px;
    display: flex;
    align-items: start;
}

.landing-title {

    display: flex;
    flex-direction: row;
    color: black;
}

.usuario {
    display: flex;
    align-items: center;

    justify-content: space-between;
    color: black;
}

.sidebar-card {
    border-bottom: 1px solid black;
    border-radius: 1px;
}

.card-logo {
    width: 32px;
    height: 32px;
    border-radius: 30px;
}

.card-title {
    color: black;
    font-weight: 100;
}

.card-subtitle {
    font-size: 5 px;
    color: #A5B4CB;
    font-weight: 100;
}

.container {
    display: flex;
    align-items: flex-start;
    color: black;
    margin-inline-start: 0%;

}



.container2 {
    display: flex;
    align-items: flex-start;
    height: 70px;
    color: black;
}

.container1 {
    color: blue;

}

.barra {
    height: 600px;
}


.user-icon {
    display: flex;
    align-items: end;
}

.user-text {
    display: flex;
    justify-content: space-between;
    align-items: start;
    color: black;

}

.user1 {
    display: flex;
    justify-content: center;

}

.button {
    align-items: end;
    margin-right: 25px;
    /* Espacio entre el botón y el icono */
}

.user-icon img {
    width: 30px;
    /* Ajusta el ancho según tus necesidades */
    height: 30px;
    /* Ajusta la altura según tus necesidades */
    margin-right: 10px;

    /* Espacio entre el icono y el título del curso */
}

.course-title {
    font-weight: bold;
    margin-right: 5px;
    /* Espacio entre el título del curso y el botón '...' */

}

.btn-custom-btn {

    margin-left: 5rem;
    padding-top: .0rem;

}

.p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

li {
    width: 30px;
    height: 30px;
    background-color: pink;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 14px;

}

.first-day {
    grid-column-start: 2
}

.month {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black;
    background-color: pink;
}


.day-name {
    font-weight: bold;


}

.vertical {
    transform: rotate(-90deg);

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;

    padding: 10px;

    width: 40%;
    margin-top: -3%;

}

.grid-item {

    padding: 20px;
    font-size: 20px;
    text-align: center;
    color: black;
}

.row {
    color: black;
}