:root {
    --main-bg-terra: #eac8ca;
    --main-bg-soft-pink: #f2d5f8;
    --main-bg--dark-pink: #e6c0e9;
    --main-bg--soft-purple: #bfabcb;
    --main-bg-dark-purple: #8d89a6;
  }
a{
    text-decoration: none;
    color: inherit;
}
/* div svg{
    max-width: 32px;
} */
.landing-logo{
    padding: 0.25rem;
}
.landing-title{
    font-size: 17px;
    font-weight: 500;
}
.sidebar-card{
    border-bottom: 2px solid #DFE5F1;
    border-radius: 1px;
}
.card-logo{
    width: 32px;
    height: 32px;
    border-radius: 30px;
}
.card-title{
    color: black;
    font-weight: 700;
}
.card-subtitle{
    font-size: 14px;
    color: #A5B4CB;
    font-weight: 500;
}

.rotate{
    transform: rotate(180deg);
}
.hola{
    display: inline-block;
    gap: 1rem;
}
.nobreak{
    white-space: nowrap; 
}
.button-arrow{
    width: 28px;
    height: 28px;
    border-radius: 6px;
    background-color: hsla(217, 19%, 57%, 0.1);
    border: none !important;
}
.arrow{
    width: 13px;
    
}

.arrow path{
    color: #7D8DA6;
}