.event {
  color: white;
  font-weight: bolder;
  background: #3d7bff;
}

.event-cell {
  /* Customize the width to span multiple columns */
  grid-column: span 2; /* For example, spans 2 columns */
}
