/* Test.css */

/* Add this rule to set a fixed height for the cells */
.row-height:nth-child(even) {
  border-top: 1px gainsboro dashed;
}

.calendar-slot {
  border-left: 1px gainsboro solid;
}

.event {
  color: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.event-photo {
  width: 85%;
  height: 85%;
}

.dragging-indicator {
  background-color: gainsboro;
}
