/* Test.css */

/* Add this rule to set a fixed height for the cells */
.cell {
  height: 80px; /* You can adjust the value as needed */
}

.event {
  color: white;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
}

.event-photo {
  width: 85%;
  height: 85%;
}

.dragging-indicator {
  background-color: #928eff;
}
